/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url(fonts.css);

/* Default */
.container {
    display: block;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 16px;
}

/* Header */
.fader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.fader_visible {
    opacity: 1;
    visibility: visible;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #303030;
    z-index: 3;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.header_scroll {
    background-color: rgba(0, 0, 0, .8);
}

.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-wrapper a {
    text-decoration: none;
}

.header-logo {
    font-family: 'Oleo Script', cursive;
    font-size: 2.94rem;
    line-height: 3.19rem;
    color: white;
}

.header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
}

.header-list li {
    margin: auto;
}

.header-list li.active a {
    background-size: 100% 2px;
}

.header-list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7b6c63), to(#7b6c63));
    background-image: -o-linear-gradient(#7b6c63, #7b6c63);
    background-image: linear-gradient(#7b6c63, #7b6c63);
    background-size: 0 2px;
    background-position: 0 70px;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.header-list li a:hover {
    background-size: 100% 2px;
}

.header-burger {
    display: none;
    z-index: 5;
    position: relative;
    background-color: transparent;
    border: 0;
    width: 25px;
    height: 18px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.header-burger:hover {
    -webkit-transform: scaleY(1.2);
    -ms-transform: scaleY(1.2);
    transform: scaleY(1.2);
}

.header-burger_open .header-burger-menu {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.header-burger_open:hover {
    width: 25px;
    height: 17px;
}

.header-burger-menu,
.header-burger::before,
.header-burger::after {
    position: absolute;
    top: 50%;
    right: 0;
    height: 2px;
    width: 100%;
    background: white;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.header-burger::before {
    content: '';
    top: 0;
}

.header-burger::after {
    content: '';
    top: 100%;
}

.header-burger_open:after {
    -webkit-transform: translate(0, -9px) rotate(45deg);
    -ms-transform: translate(0, -9px) rotate(45deg);
    transform: translate(0, -9px) rotate(45deg);
}

.header-burger_open:before {
    -webkit-transform: translate(0, 8px) rotate(-45deg);
    -ms-transform: translate(0, 8px) rotate(-45deg);
    transform: translate(0, 8px) rotate(-45deg);
}

/* Main */
.main {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main-wrapper {
    padding: 270px 0 185px;
}

.main-desc {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2;
    color: white;
}

.main-title {
    margin-bottom: 55px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 4.12rem;
    line-height: 1.16;
    color: white;
}

.main-title-gray {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #7b6c63;
}

.btn-download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 10px;
    max-width: 265px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    text-decoration: none;
    color: white;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.btn-download:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-icon {
    display: inline-block;
    margin: auto 0 auto 10px;
    width: 12px;
    height: 12px;
}

.btn-icon-download {
    width: 15px;
    height: 15px;
}

.btn-icon svg {
    display: block;
    width: 100%;
    height: 100%;
}

.btn-icon-download svg path {
    fill: white;
}

/* About */
.app-wrapper {
    margin: 0 auto;
    padding: 83px 0 88px;
    max-width: 460px;
    text-align: center;
}

.app-title {
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 40px;
    color: #7b6c63;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.1;
}

.app-title:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #7b6c63;
    width: 75px;
    height: 5px;
}

.app-description {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
    color: black;
}

.best {
    position: relative;
    background-color: #f5f5f5;
}

.best-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.best-block {
    padding: 85px 0 88px;
    width: 50%;
    text-align: left;
}

.best-title {
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #7b6c63;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.16;
}

.best-text {
    margin-bottom: 40px;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
}

.best-text-2 {
    margin-bottom: 40px;
    line-height: 1.9;
}

.btn-def {
    padding: 13px 25px;
    margin-left: 0;
    max-width: 174px;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.btn-def:hover {
    color: white;
    border: 2px solid rgba(0, 0, 0, .15);
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-def:hover .btn-icon svg path {
    fill: white;
}


.best-image {
    width: 50%;
}

.best-image img {
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0% 0%;
    object-position: 0% 0%;
}


.services-wrapper {
    padding: 87px 0 70px;
    text-align: center;
}

.services-title {
    margin-bottom: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.16;
    color: #7b6c63;
    text-transform: uppercase;
}

.services-description {
    margin-bottom: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.875;
    color: black;
}

.services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.services-list li {
    width: calc(100% / 3);
}

.services-list li:nth-child(-n+2) {
    margin-right: 35px;
}

.services-list-icon {
    margin: 0 auto 28px;
    width: 30px;
    height: 30px;
}

.services-list-icon svg {
    display: block;
    width: 100%;
}

.services-list-icon svg path {
    fill: #7b6c63;
}

.services-list-title {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    line-height: 1.2;
    color: black;
}

.services-list-description {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #949494;
}

.skills {
    background-image: url("../images/skills-bg.png");
}

.skills-wrapper {
    padding: 100px 0 85px;
    text-align: center;
}

.skills-title {
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.16;
    text-transform: uppercase;
    color: white;
}


/* Portfolios */
.portfolios-wrapper {
    padding-bottom: 90px;
    text-align: center;
}

.portfolios-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.portfolios-list li {
    width: calc(100% / 4);
}

.portfolios-link {
    display: block;
    position: relative;
    width: 100%;
    padding-top: calc(350 / 480 * 100%);
}

.portfolios-link img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.portfolios-link:hover .portfolios-image {
    top: 15px;
    left: 20px;
    width: 90%;
    height: 90%;
    opacity: 1;
}


.portfolios-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    padding: 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.portfolios-image-hover {
    position: relative;
    max-width: 100%;
    margin-bottom: 20px;
    padding-bottom: 23px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.2;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-transform: uppercase;
}

.portfolios-image-hover:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: white;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.portfolios-image-hover-2 {
    max-width: 100%;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-transform: uppercase;
}

.portfolios-twitter {
    padding: 130px 0 135px;
    background-color: #1a1a1a;
    text-align: center;
}

.portfolios-twitter-title {
    margin-bottom: 31px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    color: white;
}

.portfolios-twitter-description {
    margin-bottom: 27px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: white;
}

.portfolios-twitter-link {
    text-decoration: none;
    color: #29c5f2;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.portfolios-twitter-link:hover {
    color: white;
}

.portfolios-list-2 {
    margin-bottom: 91px;
}

.btn-all {
    margin: 0 auto;
}

/* Team */
.team {
    background-color: #f5f5f5;
}

.team-wrapper {
    padding-bottom: 90px;
    text-align: center;
}

.top-wrapper {
    position: relative;
    margin-bottom: 90px;
}

.team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.team-list li {
    width: calc(100% / 3);
    max-width: 370px;
}

.team-list li:nth-last-child(n+2){
    margin-right: 10px;
}

.team-link{
    display: block;
    width: 100%;
    text-decoration: none;
}

.team-image {
    display: block;
    position: relative;
    margin-bottom: 17px;
    width: 100%;
    padding-top: calc(370 / 367 * 100%);
    text-decoration: none;
}

.team-image img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.team-image-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    padding: 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.team-link:hover .team-image-hover{
    opacity: 1;
}

.team-link:hover .hover-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.team-link:hover .team-author {
    border-color: black;
}

.hover-icon {
    display: none;
}

.hover-icon li {
    padding: 10px;
    width: 100%;
    margin-right: 20px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

.hover-icon li svg {
    display: block;
    width: 100%;
}

.hover-icon li svg path {
    fill: white;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.hover-icon li svg path:hover {
    fill: #7b6c63;
}

.team-author {
    padding: 24px 5px;
    border: 3px solid #949494;
    transition: .3s;
}

.team-title {
    text-transform: uppercase;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    line-height: 1.16;
}

.team-info-link-2 {
    display: block;
    width: 100%;
    padding-top: 0;
    text-decoration: none;
}

.team-description {
    text-transform: uppercase;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 0.875rem;
    line-height: 1.28;
}

.testimonials {
    background-color: #1a1a1a;
}

.testimonials-wrapper {
    padding: 85px 0 100px;
    text-align: center;
}

.testimonials-title {
    margin-bottom: 35px;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.2;
}

.testimonials-text {
    margin-bottom: 50px;
    color: #929292;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.7;
}

.testimonials-author {
    margin-bottom: 18px;
    color: #7b6c63;
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    line-height: 1.22;
}

.swiper-container {
    padding-bottom: 35px;
    z-index: 0;
}

.swiper-container-horizontal
.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 80px;
}

.top-slider__pagination .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border: 1.5px solid white;
    border-radius: 50%;
    background-color: transparent;
    opacity: 1;
}

.top-slider__pagination .swiper-pagination-bullet-active {
    background-color: white;
    opacity: 1;
}

/* Blog */
.blog-wrapper {
    padding: 0 65px 90px 65px;
    text-align: center;
}

.blog-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.blog-image-wrapper:first-child {
    display: block;
    position: relative;
    width: 50%;
    padding: 0 40px 50px 0;
    margin-right: 40px;
    border-right: 1px solid #ebebeb;
    max-width: 515px;
}

.blog-block-last .blog-image-wrapper {
    padding-bottom: 100px;
}

.blog-image-wrapper:last-child {
    display: block;
    width: 50%;
    padding: 0 0 50px 0;
    max-width: 480px;
}

.blog-image:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    -webkit-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    transform: translate(50%, 0);
    border-radius: 50%;
    border: 8px solid #ebebeb;
}

.blog-image-wrapper:last-child .blog-image:after {
    left: -1.6%;
    content: none;
}

.blog-image {
    width: calc(1 / 1 * 100%);
}

.blog-image img {
    display: block;
    width: 100%;
}

.blog-text-wrapper:last-child {
    display: block;
    padding-bottom: 60px;
    width: 50%;
    max-width: 480px;
    text-align: left;
}

.blog-text-wrapper:first-child {
    position: relative;
    margin-right: 40px;
    padding: 0 40px 60px 0;
    width: 50%;
    max-width: 515px;
    border-right: 1px solid #ebebeb;
    text-align: right;
}

.blog-text-wrapper:first-child:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    -webkit-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    transform: translate(50%, 0);
    border-radius: 50%;
    border: 8px solid #ebebeb;
}

.blog-date {
    margin-bottom: 15px;
    color: #7b6c63;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25;
}

.blog-title {
    margin-bottom: 25px;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    line-height: 1.16;
}

.blog-text {
    color: #949494;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.875;
}

.blog-text-link a {
    color: #7b6c63;
    font-weight: 700;
    text-decoration: none;
}

.btn-all-blog {
    width: 90px;
    height: 90px;
    background-color: #7b6c63;
    border-radius: 50%;
    border: 12px solid #ebebeb;
    color: white;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.btn-all-blog:hover {
    border: 12px solid #7b6c63;
}

/* Contact */
.contact {
    background-color: #f5f5f5;
}

.contact-wrapper {
    padding: 85px 0 90px;
    text-align: center;
}

.contact-title {
    margin-bottom: 30px;
}

.contact-title:after {
    content: none;
}

.form-row_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.form-row_flex label:first-child {
    margin-right: 30px;
}

.contact-form .input-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.contact-form .input-wrapper_w50 {
    width: calc(50% - 15px);
}

.form-wrapper {
    margin: auto;
    max-width: 770px;
    width: 100%;
}

.form-inner {
    text-align: center;
}

.contact-form .input-wrapper input,
.contact-form .input-wrapper textarea {
    width: 100%;
    padding: 15px 20px;
    font-size: 15px;
    line-height: 19px;
    border: none;
    border-top: 4px solid black;
    background-color: transparent;
}

.contact-form .input-wrapper_textarea textarea {
    height: 150px;
    min-height: 130px;
    resize: vertical;
    border-bottom: 1px solid black;
}

.btn-sub {
    min-width: 170px;
    padding: 11px 53px;
}

/* Footer */
.footer {
    margin-bottom: 0;
    background-color: #222222;
}

.footer-wrapper {
    padding: 55px 0 46px;
}

.footer-top-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer-block {
    margin-right: 25px;
    max-width: 270px;
}

.footer-block a {
    text-decoration: none;
}

.footer-logo {
    margin-bottom: 17px;
    color: #7b6c63;
}

.footer-text {
    margin-bottom: 25px;
    max-width: 260px;
    font-family: 'Raleway', sans-serif;
    font-size: 0.875rem;
    line-height: 1.7;
    color: #929292;
}

.footer-block-tittle {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    line-height: 1.2;
    color: #c2c2c2;
}

.footer-block-list li {
    padding-bottom: 25px;
    margin-bottom: 30px;
    min-width: 270px;
    border-bottom: 1px solid #393939;
    font-family: 'Raleway', sans-serif;
    font-size: 0.875rem;
    line-height: 1.28;
    color: #929292;
}

.footer-block-list li:last-child {
    margin-bottom: 0;
}

.text-date {
    line-height: 1.25rem;
    color: #545454;
}


.footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.twitter-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.text-ago {
    margin-right: 5px;
    font-family: "Calibri", sans-serif;
    font-size: 0.825rem;
    color: #545454;
}

.text-nickname {
    font-family: "Raleway", sans-serif;
    font-size: 0.875rem;
    color: #76685f;
}

.footer-info a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 0.875rem;
    line-height: 1.7;
    color: #929292;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.footer-info a:hover {
    color: white;
}

.info-text {
    display: block;
}

.info-icon {
    margin-right: 10px;
    width: 14px;
    height: 20px;
}

.info-icon svg {
    display: block;
    width: 14px;
    height: 20px;
}

.footer-text-2 {
    margin-bottom: 52px;
}


.footer-bottom-wrapper {
    padding: 30px 0 20px;
    background-color: #1c1c1c;
    text-align: center;
}

.copyright {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25;
    color: #595959;
}

.go-top {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 0;
    width: 70px;
    height: 70px;
    padding: 10px;
    background-color: #222222;
    visibility: hidden;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.go-top svg:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.show {
    visibility: visible;
}

.go-top svg {
    display: block;
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.go-top svg path {
    fill: #fff;
}

/* Mobile */
@media screen and (max-width: 992px) {
    .main-wrapper {
        padding: 200px 0 115px;
    }

    .main-desc {
        font-size: 1.3rem;
    }

    .main-title {
        margin-bottom: 40px;
        font-size: 3.5rem;
    }

    .app-wrapper {
        padding: 60px 0 68px;
    }

    .app-title {
        padding-bottom: 40px;
        margin-bottom: 40px;
        font-size: 2rem;
    }

    .best-block {
        padding: 65px 0 68px;
    }

    .services-wrapper {
        padding: 67px 0 50px;
    }

    .services-description {
        margin: 0 auto 50px;
        max-width: 650px;
    }

    .skills-wrapper {
        padding: 70px 0 55px
    }

    .portfolios-twitter {
        padding: 80px 0 85px;
    }

    .portfolios-wrapper {
        padding-bottom: 60px;
    }

    .portfolios-list-2 {
        margin-bottom: 61px;
    }

    .team-list li {
        margin-right: 20px;
    }

    .team-list li:last-child {
        margin-right: 0;
    }

    .team-title {
        font-size: 1.2rem;
    }

    .testimonials-wrapper {
        padding: 55px 0 50px;
        text-align: center;
    }

    .swiper-container-horizontal
    .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 40px;
    }

    .blog-wrapper {
        padding: 0 0 60px 0;
    }

    .blog-block {
        margin-left: 40px;
    }

    .contact-wrapper {
        padding: 55px 0 60px;
    }

    .footer-block-feeds,
    .footer-block-post {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header-menu {
        display: none;
    }

    .header-burger {
        display: block;
    }

    .main-wrapper {
        padding: 130px 0 30px;
    }

    .main-desc {
        font-size: 1rem;
        line-height: 1.5;
    }

    .main-title {
        margin-bottom: 20px;
        font-size: 2.5rem;
    }

    .app-wrapper {
        padding: 30px 0;
    }

    .app-title {
        padding-bottom: 20px;
        margin-bottom: 20px;
        font-size: 1.5rem;
    }

    .app-description {
        font-size: 1rem;
        line-height: 1.6;
    }

    .best-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .best-block {
        padding: 30px 0;
        width: 100%;
    }

    .best-title {
        margin-bottom: 15px;
        font-size: 1.25rem;
    }

    .best-text {
        margin-bottom: 15px;
        line-height: 1.5;
    }

    .best-text-2 {
        margin-bottom: 15px;
        line-height: 1.5;
    }

    .best-image {
        width: 100%;
    }

    .best-image img {
        position: static;
        width: 100%;
    }

    .services-wrapper {
        padding: 30px 0;
    }

    .services-title {
        margin-bottom: 15px;
        font-size: 1.25rem;
    }

    .services-description {
        margin: 0 auto 20px;
    }

    .services-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .services-list li {
        width: 100%;

    }

    .services-list li:nth-child(-n+2) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .services-list-icon {
        margin: 0 auto 10px;
    }

    .services-list-title {
        margin-bottom: 15px;
        font-size: 1rem;
    }

    .services-list-description {
        margin: 0 auto;
        max-width: 350px;
        font-size: 1rem;
        line-height: 1.3;
    }

    .skills-wrapper {
        padding: 30px 0;
    }

    .skills-title {
        margin-bottom: 20px;
        font-size: 1.25rem;
    }

    .portfolios-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }

    .portfolios-list li {
        width: calc(100% / 2);
    }

    .portfolios-twitter {
        padding: 30px 0;
    }

    .portfolios-twitter-title {
        margin-bottom: 15px;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .portfolios-twitter-description {
        margin-bottom: 15px;
        font-size: 1rem;
        line-height: 1.25;
    }

    .portfolios-wrapper {
        padding-bottom: 30px;
    }

    .portfolios-list-2 {
        margin-bottom: 30px;
    }

    .team-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .team-list li {
        width: 100%;
        margin: 0 auto 20px;
        max-width: 700px;
    }

    .team-list li:last-child {
        margin: 0 auto 20px;
    }

    .team-list li:nth-last-child(n+2){
        margin: 0 auto 20px auto;
    }

    .team-title {
        font-size: 1.125rem;
    }

    .team-description {
        font-size: 0.85rem;
        line-height: 1.2;
    }

    .team-info-description {
        margin-top: 15px;
        padding: 10px 0;
    }

    .team-wrapper {
        padding-bottom: 30px;
    }

    .testimonials-wrapper {
        padding: 30px 0;
    }

    .testimonials-title {
        margin-bottom: 20px;
        font-size: 1.25rem;
    }

    .testimonials-text {
        margin-bottom: 15px;
        font-size: 1rem;
        line-height: 1.5;
    }

    .swiper-container-horizontal
    .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 30px;
    }

    .blog-wrapper {
        padding: 0 0 30px 0;
    }

    .blog-date {
        margin-bottom: 5px;
    }

    .blog-title {
        margin-bottom: 15px;
        font-size: 1.25rem;
    }

    .blog-text {
        line-height: 1.5;
    }

    .blog-block {
        margin-left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .blog-image-wrapper:first-child {
        margin: 0 0 0 auto;
        width: 100%;
        padding: 0 20px 20px 0;
    }

    .blog-text-wrapper:last-child {
        position: relative;
        margin: 0 0 0 auto;
        padding: 0 10px 20px 0;
        width: 100%;
        border-right: 1px solid #ebebeb;
        text-align: right;
    }

    .blog-image:after {
        top: 100%;
    }

    .blog-text-wrapper:first-child {
        position: relative;
        margin-right: 40px;
        padding: 0 40px 60px 0;
        width: 50%;
        max-width: 515px;
        border-right: 1px solid #ebebeb;
        text-align: right;
    }

    .blog-image-wrapper:last-child {
        width: 100%;
        padding: 0 20px 20px 0;
        margin: 0 0 0 auto;
        border-right: 1px solid #ebebeb;
    }

    .blog-text-wrapper:first-child {
        margin: 0 0 0 auto;
        padding: 0 10px 20px 0;
        width: 100%;
    }

    .blog-block:nth-child(odd) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .contact-wrapper {
        padding: 30px 0;
    }

    .contact-title {
        margin-bottom: 0;
    }

    .form-row_flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contact-form .input-wrapper_w50 {
        width: 100%;
    }

    .footer-wrapper {
        padding: 30px 0;
    }
}

@media screen and (max-width: 375px) {
    .header-logo {
        font-family: 'Oleo Script', cursive;
        font-size: 2.5rem;
    }

    .main-title {
        font-size: 2rem;
    }

    .btn-download {
        padding: 15px 10px;
        max-width: 150px;
    }

    .btn-def {
        padding: 10px 20px;
        margin-left: 0;
        max-width: 160px;
    }

    .btn-all {
        margin: 0 auto;
    }

    .footer-top-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .footer-block {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-text {
        margin-bottom: 15px;
    }

    .footer-bottom-wrapper {
        padding: 20px 0;
    }

    .footer-text-2 {
        margin-bottom: 15px;
    }

    .go-top {
        width: 50px;
        height: 50px;
    }
}

.ie9 img[src$=".svg"] {
    width: 100%;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src$=".svg"] {
        width: 100%;
    }
}